.data {
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    font-family: arial;
    align-items: center;
}

.dataTable{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #444444;
    margin: 0 auto;
}

.colHeader {
    font-size: 3.5em;
    border-style: solid;
    border-width: 2px;
    border-color: #888888;
}

.cell {
    font-size: 3.25em;
    text-align: right;
    border-style: solid;
    border-width: 2px;
    border-color: #aaaaaa;
}

#error {
    text-align: justify;
    font-size: 3em;
}

.canvas {
    margin: 0 auto;
    border-style: solid;
    border-radius: 3px;
    display: block;
}
